# Data
data/trajectories.parquet
sweep_log.txt

# Model Checkpoints
model/*.pt

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/
.pytest_cache/
.env

# MATLAB
*.asv
*.m~
slprj/

# macOS
.DS_Store
._*

# Conda or Venv
.venv/
venv/